*{
    box-sizing: border-box;

}

header{
    text-align: center;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    color: #fff;
    padding: 10px 0;
}

.container{
    max-width: 700px;
    margin: auto;
    padding: 20px;
}

section{
    border: 2px solid #5624d0;
    border-radius: 7px;
    padding: 10px;
    margin: 10px 0;
}

label{
    display: block;
    padding: 7px;
    border: 1px dashed #ccc;
    border-radius: 7px;
    margin-bottom: 3px;
    cursor: pointer;
}

label:hover{
    background: #cec0fc;
}

button{
    width: 40%;
    display: inline-block;
    margin: 30px;
    padding: 10px;
    background-color: #cec0fc;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

button:hover{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    color: #fff;
}

h2{
    text-align: center;
}

#nombre{
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    padding: 7px;
}

#resultado, #nota{
    font-size: 30px;
    color: darkred;
}